@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

$mainfont: 'PT Sans', 'Open Sans', 'Lato', sans-serif;
$typefont: 'Inconsolata', Helvetica, sans-serif;

@mixin font($type: $mainfont, $weight: 400, $size: 1em, $color: #555459) {
	font-family: $type;
	font-weight: $weight;
	font-size: $size;
	color: $color;
}

@mixin transition() {
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
@mixin button($backgroundColor: #7ED321, $color: #fff, $fontsize: 1.25em) {
	@include transition();
	height: 40px;
	background-color: $backgroundColor;
	color: $color;
	font-size: $fontsize;
	display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 3px;
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    cursor: hand;
    outline: none;

    &:hover {
    	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    }
}


ol, ul {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h6, p {
	margin: 0;
	padding: 0;
}

a {
	&:hover {
		text-decoration: none;
	}
}

body {

	font-family: $mainfont;
    font-variant-ligatures: common-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #555459;
    line-height: 1.5rem;


	nav {
		position: absolute;
		z-index: 100;
		width: 100%;
		.nav-container {
			padding: 20px;

			ul {
				float: right;
				li {
					display: inline-block;
					margin-right: 20px;

					a {

						@include font($mainfont, 700, 1em, #fff);
						padding-bottom: 5px;

						&:hover {
							border-bottom: 2px solid #fff;
						}
					}
				}

				li.action-button {
    				a {
    					@include font($mainfont, 700, 1.25rem, #fff);
					    display: inline-block;
					    margin-left: 9px;
					    position: relative;
					    cursor: pointer;
					    line-height: 1em;
					    padding: 8px 7px 9px;
					    border-radius: 5px;
					    border: 2px solid #fff;

					    &:hover {
							background-color: rgba(0,0,0,0.01);
					    }
    				}
				}
			}
		}
	}

	#splash {
		position: relative;
	    height: 650px;
	    text-align: center;
	    z-index: 10;

	    #fg {
	    	position: absolute;
	    	width: 100%;
	    	height: 100%;
	    	top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			canvas {
				position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    z-index: 1000;
			    width: 100%;
			    height: 100%;
			}

		    .overlay {
		    	z-index: 1200;
		    	position: absolute;
		    	top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: transparent;
				width: 100%;

				.wrapper {

			    	padding-top: 135px;
			    	height: 100%;
			    	max-width: 921px;
			    	margin: 0 auto;
					
					h1 {
						@include font($mainfont, 700, 3em, #fff);
						padding-bottom: 30px;
						max-width: 768px;
						margin: 0 auto;

					}

					h3 {
						@include font($typefont, 400, 2em, #fff);
						padding-bottom: 30px;
					}

					li {
						display: inline-block;
				    	.primary-action {
				    		@include button(transparent, #fff, 1.1em);
				    		border: 2px solid #fff;

				    		&:hover {
				    			background: rgba(0,0,0,0.1);
				    		}
				    	}

				    	.slack-button {
				    		@include transition();
				    		display: inline-block;
				    		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
				    		margin-left: 20px;

				    		&:hover {
	    						box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
	    					}
				    	}
				    }
			    }
		    }
		}

		.bg {
			position: relative;
			height: 100%;
			background: #F17E7F;
	    	background-size: cover;
		 
		}
	}

	#body-wrapper {
		background-color: #F9F9F9;

		.inner-wrapper {

			margin: 0 auto;
			max-width: 921px;
			padding-top: 200px;
			padding-bottom: 50px;

			.img-canvas {
				margin: 0 auto;
				max-width: 500px;
				width: 90%;
				height: auto;
				overflow: hidden;
				border-radius: 3px;

				img {
					width: 100%;
					height: auto;
				}
			}

			.command-body {
				max-width: 600px;
				width: 90%;
		        margin: 0 auto;
		        padding-top: 45px;

		        .command {

		        	padding: 20px;
		        	h4 {
		        		@include font($mainfont, 700, 1.5em, #555555);
		        		padding-bottom: 10px;
		        	}

		        	p {
		        		margin-left: 10px;
		        		@include font($typefont, 400, 1.5em, #555555);
		        		line-height: 1.5em;

		        		b {
		        			color: #45A5F4;
		        		}

		        		i {
		        			color: lighten(#555555, 25%);
		        		}
		        	}
		        }
			}
		}
	}

	#signup {
		background-color: #F17E7F;
		border-top: 1px solid #f2f2f2;
		padding-top: 60px;
		padding-bottom: 60px;

		#mc_embed_signup {
			form {

				text-align: center;
				label {
					@include font($mainfont, 700, 2em, #fff);
					display: block;
				}
				#mce-EMAIL {
					@include font($mainfont, 500, 1em, #555459);
					height: 50px;
					width: 90%;
					max-width: 350px;
					border-radius: 6px;
					border: 0;
					padding: 1rem;
    				padding-left: 2.5rem;
    				box-shadow: 0 2px 10px rgba(0,0,0,.2);
    				transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    				outline: none;
    				margin: 20px auto;

					:focus {
						outline: none;
						text-decoration: none;
						box-shadow: 0 5px 12px rgba(0,0,0,.2);
					}

				}
				.button {
					@include button(transparent);
					border: 2px solid #fff;
					height: 40px;
				}
			}
		}
	}

	footer {
		background-color: darken(#F17E7F, 5%);
		padding-top: 30px;
		padding-bottom: 30px;
		.container {
			max-width: 900px;
			
			.creator {
				li {
					float: left;
					@include font($mainfont, 700, 1em, #fff);
				}
			}
			.contact {
				li {

					float: right;

					a {
						@include font($mainfont, 700, 1em, #fff);
					}
				}
			}

		}
	}
}

@media screen and (max-width: 850px) {
	body {
		#body-wrapper {
			.inner-wrapper {
				padding-top: 100px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	body {
		#splash {
			#fg {
				.overlay {
					.wrapper {
						h1 {
							padding: 10px;
							padding-bottom: 25px;
							font-size: 1.75em;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 621px) {
	body {
		#body-wrapper {
			.inner-wrapper {
				padding-top: 50px;
			}
		}
	}
}


@media screen and (max-width: 440px) {
	body {
		#splash {
			width: 100%;
			height: 500px;

			#fg {
				.overlay {
					.wrapper {
						padding-top: 110px;
						h1 {
							line-height: 1.5em;
							width: 90%;
							font-size: 18px;
						}

						li {
							display: block;
							text-align: center;
							margin-bottom: 10px;

							a.primary-action {
								width: 139px;
							}

							a.slack-button {
								margin-left: 0;

							}
						}
					}
				}
			}

		}
	}
}
