extends layout

block content
	div#splash
		.wrapper
			h1 Octopus
			h3 A Slack bot that helps you manage tasks
			a(data-nav='body-wrapper').primary-action#nav-link Get Started

	div#body-wrapper
		.inner-wrapper
			.img-canvas
				img(src='img/slack2.gif' loop='infinite')
			article.markdown-body
				h2 Adding a task
				pre(lang='no-highlight')
					code @slacktopus add (your_task)
				h2 Viewing your tasks
				pre(lang='no-highlight')
					code @slacktopus show tasks
				h2 Removing and completing tasks
				pre(lang='no-highlight')
					code @slacktopus remove (task_id)
				pre(lang='no-highlight')
					code @slacktopus complete (task_id)
	div#signup
		#mc_embed_signup
			form#mc-embedded-subscribe-form.validate(action='//herokuapp.us13.list-manage.com/subscribe/post?u=e798417f38820a94a04c1a740&id=fb033dd64a', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
				#mc_embed_signup_scroll
					label(for='mce-EMAIL') Subscribe to Our Mailing List
					input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='Sign up with your email address', required='')
					.clear
						input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
